html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.d-flex, .page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX, .page-wrapper {
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
  height: 100%;
  background-color: #f2f2f2;
}

.el-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 15px #000;
  box-shadow: 2px 2px 15px #000;
  background: url("../images/bg.jpg") center no-repeat;
  background-size: cover;
}

@media (max-width: 767px) {
  .el-wrapper {
    background-position: center 100px;
  }
}

.nav-list {
  -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.355, 1);
  -moz-transition: all 0.4s cubic-bezier(0, 0, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0, 0, 0.355, 1);
  transition: all 0.4s cubic-bezier(0, 0, 0.355, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  /* custom */
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300;
  position: absolute;
  right: 55px;
  top: 53px;
  opacity: 0;
  padding-bottom: 6px;
  padding-right: 55px;
  overflow: hidden;
}

.nav-list #magic-line {
  height: 3px;
  background: #040407;
  position: absolute;
  bottom: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 5ms;
  -o-transition: all 5ms;
  transition: all 5ms;
}

.nav-list .list-item {
  float: left;
  margin-right: 30px;
}

@media (max-width: 767px) {
  .nav-list .list-item {
    float: none;
  }
}

.nav-list .list-item:last-of-type {
  margin-right: 0;
}

.nav-list .list-item .list-link {
  font-size: 22px;
  color: #2e2e33;
}

.nav-list .list-item .list-link:hover {
  text-decoration: none;
}

.menu-wrapper.opened .menu-btn {
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0.355, 1);
  -moz-transition: all 0.5s cubic-bezier(0, 0, 0.355, 1);
  -o-transition: all 0.5s cubic-bezier(0, 0, 0.355, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0.355, 1);
  /* custom */
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  -moz-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.355, 1);
  /* custom */
  width: 28px;
  height: 16px;
}

.menu-wrapper.opened .menu-btn:hover {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.menu-wrapper.opened .nav-list {
  right: 75px;
  opacity: 1;
}

.menu-btn {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 60px;
  top: 60px;
  cursor: pointer;
}

.menu-btn .menu-line {
  width: 30px;
  height: 3px;
  background-color: #464646;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.menu-btn .menu-line.middle-line {
  top: 6px;
}

.menu-btn .menu-line.bottom-line {
  width: 22px;
  top: 12px;
}

.fast-transition {
  -webkit-transition: transform 5ms !important;
  -o-transition: transform 5ms !important;
  transition: transform 5ms !important;
}

@keyframes btnTopLine {
  0% {
    width: 5px;
    height: 5px;
    right: 5px;
    top: 6px;
    background-color: #464646;
  }
  25% {
    width: 4px;
    height: 4px;
    right: 9px;
    top: 6px;
    background-color: #464646;
  }
  50% {
    width: 3px;
    height: 3px;
    right: 13px;
    top: 6px;
    background-color: #464646;
  }
  75% {
    width: 6px;
    height: 1px;
    right: 13px;
    top: 10px;
  }
  94% {
    width: 12px;
    height: 2px;
    right: 10px;
    top: 9px;
  }
  100% {
    width: 21px;
    height: 3px;
    right: 6px;
    top: 9px;
  }
}

@keyframes btnMiddleLine {
  0% {
    width: 5px;
    height: 5px;
    right: 14px;
    top: 6px;
  }
  25% {
    width: 4px;
    height: 4px;
    right: 14px;
    top: 6px;
  }
  50% {
    width: 3px;
    height: 3px;
    right: 14px;
    top: 6px;
  }
  60% {
    width: 3px;
    height: 3px;
    right: 14px;
    top: 6px;
  }
  70% {
    width: 10px;
    height: 10px;
    right: 11px;
    top: 5px;
  }
  80% {
    width: 20px;
    height: 20px;
    right: 6px;
    top: 0;
  }
  90% {
    width: 30px;
    height: 30px;
    right: 2px;
    top: -4px;
  }
  100% {
    width: 40px;
    height: 40px;
    right: -4px;
    top: -10px;
  }
}

@keyframes btnBottomLine {
  0% {
    width: 5px;
    height: 5px;
    right: 21px;
    top: 6px;
    background-color: #464646;
  }
  25% {
    width: 4px;
    height: 4px;
    right: 17px;
    top: 6px;
    background-color: #464646;
  }
  50% {
    width: 3px;
    height: 3px;
    right: 13px;
    top: 6px;
    background-color: #464646;
  }
  75% {
    width: 6px;
    height: 1px;
    right: 13px;
    top: 10px;
  }
  94% {
    width: 12px;
    height: 2px;
    right: 10px;
    top: 9px;
  }
  100% {
    width: 21px;
    height: 3px;
    right: 6px;
    top: 9px;
  }
}
