@mixin transitionEaseOut($type, $time) {

-webkit-transition: $type $time cubic-bezier(0.000, 0.000, 0.355, 1.000); 
   -moz-transition: $type $time cubic-bezier(0.000, 0.000, 0.355, 1.000); 
     -o-transition: $type $time cubic-bezier(0.000, 0.000, 0.355, 1.000); 
        transition: $type $time cubic-bezier(0.000, 0.000, 0.355, 1.000); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.000, 0.000, 0.355, 1.000); 
   -moz-transition-timing-function: cubic-bezier(0.000, 0.000, 0.355, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.000, 0.000, 0.355, 1.000); 
        transition-timing-function: cubic-bezier(0.000, 0.000, 0.355, 1.000); /* custom */
}

@mixin rotate($degrees) {
	-webkit-transform: rotate($degrees);
	-ms-transform: rotate($degrees);
	-o-transform: rotate($degrees);
	transform: rotate($degrees);
}

@mixin borderRadius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin rotate($degrees) {
  -webkit-transform: rotate($degrees);
  -ms-transform: rotate($degrees);
  -o-transform: rotate($degrees);
  transform: rotate($degrees);
}

$mobile: 767px;

html,
body {
	height: 100%;
	font-family: "Roboto", sans-serif;
}

.d-flex {
	display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.flex-centerY-centerX {
	justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.page-wrapper {
	height: 100%;
	background-color: #f2f2f2;
	@extend .d-flex;
	@extend .flex-centerY-centerX;
}

.el-wrapper {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
  -webkit-box-shadow: 2px 2px 15px #000;
  box-shadow: 2px 2px 15px #000;
  background: url("../images/bg.jpg") center no-repeat;
  background-size: cover;
  
  @media (max-width: $mobile) {
    background-position: center 100px;
  }
}

.nav-list {
  @include transitionEaseOut(all,0.4s);
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 300; 
  position: absolute;
  right: 55px;
  top: 53px;
  opacity: 0;
  padding-bottom: 6px;
  padding-right: 55px;
  overflow: hidden;

  #magic-line {
    width: 180px;
    height: 3px;
    background: rgb(70, 70, 70);
    position: absolute;
    bottom: 2px;
    left: 100%;
    display: inline-block;
    @include borderRadius(5px);
    @include transitionEaseOut(all,0.3s);
  }

  .list-item {
    float: left;

    @media (max-width: $mobile) {
      float: none;
    }

    &:last-of-type a {
      padding-right: 0;
    }

    .list-link {
      padding: 0 15px;
      font-size: 22px;
      color: #2e2e33;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.menu-wrapper {
  &.opened {
    .menu-btn {
      @include transitionEaseOut(all, 0.5s);
      width: 28px;
      height: 16px;
      
      &:hover  {
        @include rotate(90deg);
      } 
    }

    .nav-list {
      right: 75px;
      opacity: 1;
    }
  }
}

.menu-btn {
  width: 30px;
  height: 18px;
  position: absolute;
  right: 60px;
  top: 60px;
  cursor: pointer; 

  .menu-line {
    width: 30px;
    height: 3px;
    background-color: #464646;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    
    &.middle-line {
      top: 6px;
    }

    &.bottom-line {
      width: 22px;
      top: 12px;
    }
  }
}